decorator==4.0.6
flake8==2.5.2
greenlet==0.4.9
ipdb==0.9.0
ipython==4.1.1
ipython-genutils==0.1.0
mccabe==0.4.0
msgpack-python==0.4.7
neovim==0.1.4
path.py==8.1.2
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.6
pony==0.6.4
ptyprocess==0.5.1
pyflakes==1.0.0
simplegeneric==0.8.1
six==1.10.0
tornado==4.3
traitlets==4.1.0
websocket-client==0.35.0
